<div class="panel panel-primary">
    <div class="panel-heading headerpanel">
        Euro 2016 Qualifiers <i class="fa fa-soccer-ball-o"></i>
    </div>
    <div class="panel-body">
        @Html.Sitecore().DynamicPlaceholder("panel-column")
    </div>
</div>       