<div class="row">
    <div class="col-lg-12">
        @*<iframe src="https://www.paddypower.com/bet?&amp;action=go_registration_iframe&amp;bus_channel=&amp;area=SB&amp;button=openregbutton&amp;LANG=en&amp;lang_change=Y&amp;contentproto=https" class="reg_form_wrapper left" frameborder="0" scrolling="no" id="registration_iframe" height="1367"></iframe>*@
    </div>
</div>