<div class="panel blank-panel">
    <div class="panel-heading">
        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">IN-PLAY BETTING</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">NEXT 5 RACES</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">TOP 5 BETS</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">@Html.Sitecore().DynamicPlaceholder("tab-pane-1")</div>
            <div id="tab-2" class="tab-pane">@Html.Sitecore().DynamicPlaceholder("tab-pane-2")</div>
            <div id="tab-3" class="tab-pane">@Html.Sitecore().DynamicPlaceholder("tab-pane-3")</div>
        </div>
    </div>
</div>