<div class="row">
    <div class="col-sm-12 col-md-6">
        @Html.Sitecore().DynamicPlaceholder("col-left")
    </div>
    <div class="col-sm-12 col-md-6">
        @Html.Sitecore().DynamicPlaceholder("col-right")
    </div>
</div>
