<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
        @Html.Sitecore().DynamicPlaceholder("col-left")
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        @Html.Sitecore().DynamicPlaceholder("col-middle-left")
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        @Html.Sitecore().DynamicPlaceholder("col-middle-right")
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        @Html.Sitecore().DynamicPlaceholder("col-right")
    </div>
</div>
