<table class="table">
    <tbody>
        @for (var i = 0; i < 20; i++)
        {
            <tr class="gradeX">
                <td class="center vert-align">02:00</td>
                <td class="center vert-align">
                    Costa Rica v Paraguay
                </td>
                <td class="center vert-align"><i class="fa fa-soccer-ball-o" /></td>
                <td class="center vert-align"><a class="btn btn-primary" href="#" role="button">11/10</a></td>
                <td class="center vert-align"><a class="btn btn-primary" href="#" role="button">21/10</a></td>
                <td class="center vert-align"><a class="btn btn-primary" href="#" role="button">12/5</a></td>
                <td class="center vert-align">+68 More bets</td>
                <td class="center vert-align"><span class="line">5,3,9,6,5,9,7,3,5,2</span></td>
            </tr>
        }
    </tbody>
</table>